<form [formGroup]="dataForm" (ngSubmit)="saveData()">
  <div class="imgcontainer">
    <h1>Registration</h1>
  </div>

  <div>
    <form [formGroup]="dataForm">
    <h1>What is your kind?</h1>
    <input type="radio" formControlName="creature" name="creature" value="Dwarf">Dwarf<br>
    <input type="radio" formControlName="creature" name="creature" value="Sorcerer">Sorcerer<br>
    <input type="radio" formControlName="creature" name="creature" value="Elf">Elf<br>
    <input type="radio" formControlName="creature" name="creature" value="Human">Human<br>
    <input type="radio" formControlName="creature" name="creature" value="Orc">Orc<br>
    <input type="radio" formControlName="creature" name="creature" value="Hobbit">Hobbit
    </form>
  </div>

  <div>
    <label for="fName"><b>First name</b></label>
    <input formControlName="firstName" type="text" placeholder="Enter First Name" id="fName" name="fName" required>

    <label for="lName"><b>Last name</b></label>
    <input formControlName="lastName" type="text" placeholder="Enter Last Name" id="lName" name="lName" required>

    <label for="uname"><b>Username</b></label>
    <input formControlName="userName" type="text" placeholder="Enter Username" id="uname" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="passWord" type="password" placeholder="Enter Password" id="psw" name="psw" required>

    <label for="place"><b>Place</b></label>
    <input formControlName="place" type="text" placeholder="Enter Place of Residence" id="place" name="place" required>

    <button>Register</button>

    <p *ngIf="regSuccess">Registration form send</p><br>
    <p *ngIf="emptyBoxes">Fill in all boxes</p><br>

    <button routerLink="/login-docent" style="width: 20%">Login</button>
  </div>
</form>
