
<app-nav></app-nav>
<body>
<div>
  <h1>Upload your homework here</h1><br/><br/>
  <input type="file"
         name="photo"
         style="display: none;"
         #fileInput
         ng2FileSelect [uploader]="uploader"/><br/><br/>
  <button type="button" (click)="fileInput.click()">Select a file</button><br/>
  <button type="button" class="btn btn-success btn-s"
          (click)="updateUploads(uploader)"
          [disabled]="!uploader.getNotUploadedItems().length" >
    Upload</button>
</div>
