<form [formGroup]="todoForm" (ngSubmit)="loginTodo($event)">
  <div class="imgcontainer">
    <h1>BlackBoard</h1>
    <img src="http://ae01.alicdn.com/kf/HTB1hmSCRFXXXXXPXXXXq6xXFXXX4.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input formControlName="userName" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="passWord" type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <button (click)="saveTodo()">Register</button>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <a href="#">Register</a>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>