<form [formGroup]="todoForm" >
  <div class="imgcontainer">
    <h1>Registration</h1>
  </div>

  <div class="container">
    <label for="fName"><b>First name</b></label>
    <input formControlName="firstName" type="text" placeholder="Enter First Name" id="fName" name="fName" required>

    <label for="lName"><b>Last name</b></label>
    <input formControlName="lastName" type="text" placeholder="Enter Last Name" id="lName" name="lName" required>

    <label for="uname"><b>Username</b></label>
    <input formControlName="userName" type="text" placeholder="Enter Username" id="uname" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="passWord" type="password" placeholder="Enter Password" id="psw" name="psw" required>

    <label for="place"><b>First name</b></label>
    <input formControlName="place" type="text" placeholder="Enter Place of Residence" id="place" name="place" required>

    <button (click)="saveTodo()">Register</button>

    <p [class.visible]="regSuccess">Registration form send</p><br>
    <p [class.visible]="emptyBoxes">Fill in all boxes</p><br>

    <button routerLink="" style="width: 20%">Login</button>
  </div>
</form>
